[andre]
	jaehrling = André Jährling
[user]
	email = andre.jaehrling@avocadostore.de
	name = André Jährling
[alias]
	co = checkout
	st = status
	ci = commit -v
[push]
	default = current
[core]
  autocrlf = input
  untrackedCache = true
	pager = diff-so-fancy | less --tabs=4 -RFX
	hooksPath = /Users/jaehrling/git/git_hooks
	excludesfile = /Users/andrejahrling/.gitignore_global
[pull]
  rebase = true
[rebase]
  autoStash = true
