[andre]
	jaehrling = André Jährling
[user]
	email = andre.jaehrling@avocadostore.de
	name = André Jährling
	signingkey = 0AF6205911E01E8D
[alias]
	co = checkout
	st = status
	ci = commit -v
[push]
  default = current
  autoSetupRemote = true
[core]
  autocrlf = input
  untrackedCache = true
	pager = diff-so-fancy | less --tabs=4 -RFX
	hooksPath = /Users/jaehrling/git/git_hooks
	excludesfile = /Users/andrejahrling/.gitignore_global
[pull]
  rebase = true
[rebase]
  autoStash = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
